__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

#api keys
.env
.env.*

#database and vector store
chroma_db/

#temp files
temp_uploads/
output_audio/

#streamlit
.agents/

#model
coqui/
*.bin
*.pt
*.pth
*.onnx

.DS_Store
Thumbs.db

.vscode/
.idea/